// variables
$light-blue: #74cdff;
$gray: #8b8b8b;
$light-gray: #e3e3e3;

/* common */
body {
  font: {
    size: 12px;
    family: "Noto Sans KR", sans-serif;
  }
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

button {
  outline: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
legend {
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
}
.campton {
  font-family: "Campton", sans-serif;
}

#wrap {
}

/* header */
header {
  width: 100%;
  letter-spacing: -0.24px;
  position: relative;
  .header__top {
    padding: 67px 32px 32px 32px;
    display: flex;
    justify-content: space-between;
    .header__top__left {
      display: flex;
      .header__logo {
        margin-right: 32px;
        a {
          width: 133px;
          height: 33px;
          font-size: 0;
          display: block;
          background-image: url("../images/logo.png");
        }
      }
      .header__search {
        fieldset {
          position: relative;
          height: 34px;
          input {
            width: 478px;
            height: 100%;
            line-height: 34px;
            border: 0;
            color: #000;
            font: {
              family: "Noto Sans KR", sans-serif;
              size: 14px;
            }

            box-sizing: border-box;
            padding-left: 7px;
            border-bottom: 1px solid #000;
            letter-spacing: -0.24px;

            &::placeholder {
              color: #333;
            }
          }
          button {
            position: absolute;
            display: flex;
            top: 0;
            right: 7px;
            width: 24px;
            height: 34px;
            overflow: hidden;
            background-image: url("../images/btn_search.gif");
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }
    }
    .header__member-menu {
      position: absolute;
      top: 7px;
      right: 31px;
      ul {
        display: flex;
        width: 100%;
        li {
          padding: 0 11px;
          &::after {
            content: "";
            display: block;
            width: 1px;
            height: 11px;
            background-color: $light-gray;
            position: absolute;
            top: calc((100% - 11px) / 2);
            right: 0;
          }
          &:last-child::after {
            display: none;
          }
          a {
            color: $gray;
            font: {
              size: 12px;
              weight: 500;
            }
            line-height: 20px;
          }
        }
      }
    }

    .header__member-menu-icon {
      ul {
        display: flex;
        li {
          margin: 0 13px;
          &:last-child {
            margin-right: 0;
          }
          a {
            display: block;
            width: 36px;
            height: 29px;
            background-repeat: no-repeat;
            background-position: center;
            span {
              font-size: 0;
              text-indent: -9999px;
            }
          }
        }
      }
      .member-menu-icon__mypage {
        a {
          background-image: url("../images/top_mypage.png");
        }
      }
      .member-menu-icon__basket {
        a {
          background-image: url("../images/top_cart.png");
        }
      }
    }
  }
  .header__bottom {
  }
}

/* main */

/* footer */

/* totop */
