// variables
$light-blue: #74cdff;
$sky-blue: #14bae5;
$gray: #8b8b8b;
$light-gray: #e3e3e3;
$border-gray: #e7e7e7;
$dark-gray: #494949;
$hover-gray: #555;
$footer-shop: #f5f5f5;
$footer-li: #ddd;
$border: 1px solid $light-gray;
$light-black: #5c5c5c;
$dark-gray2: #808080;
$bullet: #ccc;
$bullet-active: #333;

// mixins
@mixin menu {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  border-top: 1px solid #000;
  position: absolute;
}
/* common */
body {
  width: 100%;
  height: auto;
  font: {
    size: 12px;
    family: "Noto Sans KR", sans-serif !important;
  }
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

button {
  outline: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
legend {
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
}
.campton {
  font-family: "Campton", sans-serif;
}

/* header */
header {
  width: 100%;
  letter-spacing: -0.24px;
  position: relative;

  .header__top {
    padding: 67px 32px 0 32px;
    display: flex;
    justify-content: space-between;
    .header__top__left {
      display: flex;
      .header__logo {
        margin-right: 32px;
        a {
          width: 133px;
          height: 33px;
          font-size: 0;
          display: block;
          background-image: url("../images/logo.png");
        }
      }
      .header__search {
        fieldset {
          position: relative;
          height: 34px;
          input {
            width: 478px;
            height: 100%;
            line-height: 34px;
            border: 0;
            color: #000;
            font: {
              family: "Noto Sans KR", sans-serif;
              size: 14px;
            }

            box-sizing: border-box;
            padding-left: 7px;
            border-bottom: 1px solid #000;
            letter-spacing: -0.24px;

            &::placeholder {
              color: #333;
            }
          }
          button {
            position: absolute;
            display: flex;
            top: 0;
            right: 7px;
            width: 24px;
            height: 34px;
            overflow: hidden;
            background-image: url("../images/btn_search.gif");
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }
    }
    .header__member-menu {
      position: absolute;
      top: 7px;
      right: 31px;
      ul {
        display: flex;
        width: 100%;
        li {
          padding: 0 11px;
          position: relative;
          &::after {
            content: "";
            display: block;
            width: 1px;
            height: 11px;
            background-color: $light-gray;
            position: absolute;
            top: calc((100% - 11px) / 2);
            right: 0;
          }
          &:last-child::after {
            display: none;
          }
          a {
            color: $gray;
            font: {
              size: 12px;
              weight: 500;
            }
            line-height: 20px;
          }
        }
      }
    }

    .header__member-menu-icon {
      ul {
        display: flex;
        li {
          margin: 0 13px;
          &:last-child {
            margin-right: 0;
          }
          a {
            display: block;
            width: 36px;
            height: 29px;
            background-repeat: no-repeat;
            background-position: center;
            span {
              font-size: 0;
              text-indent: -9999px;
            }
          }
        }
      }
      .member-menu-icon__mypage {
        a {
          background-image: url("../images/top_mypage.png");
        }
      }
      .member-menu-icon__basket {
        a {
          background-image: url("../images/top_cart.png");
        }
      }
    }
  }
  .header__bottom {
    padding-top: 30px;

    border: {
      top: $border;
      bottom: $border;
    }
    .header__inner {
      padding: 0 32px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      .header__all-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 48px;
        margin-right: 55.5px;
        border: {
          left: $border;
          right: $border;
          cursor: pointer;
          box-sizing: border-box;
        }
        span {
          display: inline-block;
          position: relative;
          width: 18px;
          height: 1px;
          font-size: 0;
          border-top: 1px solid #000;
          &::before {
            @include menu;
            top: -6px;
          }
          &::after {
            @include menu;
            bottom: -6px;
          }
        }
      }
      .header__gnb-menu {
        .header__menu-list {
          display: flex;
          li {
            a {
              display: block;
              padding: 14px 22.5px;
              color: #000;
              font: {
                size: 15px;
                weight: 500;
              }
              line-height: 20px;
              &:hover {
                font-weight: 700;
                span::after {
                  content: "";
                  display: block;
                  position: absolute;
                  top: -5px;
                  right: -5px;
                  width: 6px;
                  height: 6px;
                  border-radius: 50%;
                  background-color: $light-blue;
                }
              }
              span {
                position: relative;
              }
            }
          }
        }
      }
    }
  }
}

/* main */
.main {
  width: 100%;
  display: flex;
  .mainCont {
    width: 77%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 3.3% 0 2%;
    border-right: 1px solid $border-gray;
    // visual
    .mainCont__visual {
      padding-top: 43px;
      .mainCont__visual-swiper-container {
        .mainCont__visual-swiper-wrapper {
          .mainCont__visual-swiper-slide {
            width: 1088px;
            height: 400px;
            background-size: cover;
            display: none;
            border-radius: 18px;
            overflow: hidden;
            a {
              display: block;
              width: 100%;
              height: 100%;
              padding: 60px 50px;
              box-sizing: border-box;
              .mainCont__txt {
                color: white;
                strong {
                  display: block;
                  font: {
                    size: 40px;
                    weight: 700;
                  }
                  line-height: 48px;
                }
                em {
                  display: block;
                  margin-top: 27px;
                  font-size: 25px;
                  line-height: 38px;
                }
              }
            }
            &:first-child {
              display: block;
            }
            @for $i from 1 through 5 {
              background-image: url("../images/visual_0#{$i}.jpg");
            }
          }
        }
      }
      .mainCont__visual-slide-pagination {
        text-align: center;
        margin-top: 10px;
        .mainCont__pagniation-bullet {
          display: inline-block;
          cursor: pointer;
          width: 6px;
          height: 6px;
          margin: 0 2.5px;
          border-radius: 100%;
          background-color: $bullet;
          &.active {
            background-color: $bullet-active;
          }
        }
      }
    }

    // banner01
    .mainCont__banner01 {
      width: 100%;
      overflow: hidden;
      padding-top: 30px;
      img {
        margin-left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  .mainNav {
    width: 23%;
    height: 100%;
    box-sizing: border-box;
  }
}

/* footer */
footer {
  .footer__inner {
    width: 100%;
    padding: 0 35px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .footer__shop-util {
    background-color: $footer-shop;
    .footer__inner {
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      align-items: center;
      .footer__shop-util-menu {
        display: flex;
        padding: 19px 0;
        li {
          font: {
            size: 16px;
            weight: 300;
          }
          line-height: 20px;
          margin-right: 43px;
        }
      }
      .footer__family-site {
        .footer__family-site-list {
          .family-site {
            position: relative;
            display: inline-block;
            padding: 9px 20px;
            width: 150px;
            background: url(../images/family_arrow.png) no-repeat 100% 50%;
            transition: width 0.6s ease, background-color 0.3s ease;
            border-radius: 0 0 10px 10px;
            font: {
              size: 16px;
              weight: 400;
            }
            line-height: 20px;
            box-sizing: border-box;
            text-align: center;
            cursor: pointer;
            .family-site-sub {
              width: 100%;
              height: 0;
              opacity: 0;
              overflow: hidden;
              position: absolute;
              right: 0;
              transform: translateY(calc(-100% - 28px));
              transition: all 0.6s ease;
              border-radius: 10px 10px 0 0;
              box-sizing: border-box;

              ul {
                text-align: left;
                margin-bottom: 20px;
                h3 {
                  font-size: 14px;
                  color: $sky-blue;
                  padding: 0 15px;
                }
                li {
                  a {
                    display: block;
                    color: $footer-li;
                    font-size: 13px;
                    padding: 6px 15px;
                    &:hover {
                      background-color: $hover-gray;
                    }
                  }
                }
              }
            }
            &:focus {
              width: 200px;
              background-image: none;
              background-color: $dark-gray;
              color: $footer-shop;
              .family-site-sub {
                height: 200px;
                opacity: 1;
                overflow-y: scroll;
                padding: 20px 0;
                background-color: $dark-gray;
                &::-webkit-scrollbar {
                  width: 16px;
                }
                &::-webkit-scrollbar-thumb {
                  background-color: $gray;
                  background-clip: padding-box;
                  border: 4px solid transparent;
                  border-radius: 16px;
                }
                &::-webkit-scrollbar-track {
                  background-color: #333;
                  border-radius: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
  .footer__info-wrap {
    padding: 42px 0 80px;
    background-color: #000;
    .footer__inner {
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: flex-end;
      .footer__company-info {
        p {
          color: $light-gray;
          font-size: 16px;
          font-weight: 300;
          line-height: 20px;
          &:first-child {
            padding: 0 0 18px;
          }
          span {
            position: relative;
            display: inline-block;
            padding: 0 13px 0 0;
            margin-right: 13px;
            color: $light-black;
            font-size: 15px;
            line-height: 25px;
            &::after {
              content: "";
              display: block;
              position: absolute;
              top: 50%;
              right: 0;
              width: 1px;
              height: 14px;
              background-color: $light-black;
              transform: translateY(-50%);
            }
          }
        }
        .footer__kcp-info {
          padding: 11px 0 0;
          p {
            color: $dark-gray2;
            font: {
              size: 15px;
              weight: 300;
            }
            line-height: 25px;
            letter-spacing: -0.5px;
            padding: 0;
          }
        }
      }
      .footer__icons {
        span {
          display: inline-block;
          vertical-align: middle;
          margin-left: 30px;
        }
      }
      .footer__sns {
        position: absolute;
        display: flex;
        align-items: center;
        top: 0;
        right: 35px;
        li {
          margin-left: 25px;
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}

/* totop */
#toTop {
  position: fixed;
  right: 36px;
  bottom: 36px;
  width: 51px;
  height: 51px;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid $light-gray;
    box-sizing: border-box;
    transition: all 0.6s ease;
    &:hover {
      background-color: $sky-blue;
      // opacity: 0.6;
      border: none;
      img {
        filter: opacity(1) drop-shadow(0 0 0 white);
      }
    }
  }
}
