// variables
$light-blue: #74cdff;

/* common */
body {
  font: {
    size: 12px;
    family: "Noto Sans KR", sans-serif;
  }
  line-height: 1.4;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  background-color: transparent;
  border: none;
}

.campton {
  font-family: "Campton", sans-serif;
}

#wrap {
}

/* header */
header {
  .header__top {
    padding: 67px 0 32px 32px;
    display: flex;
    justify-content: space-between;
    .header__logo {
      margin-right: 32px;
      a {
        width: 133px;
        height: 33px;
        font-size: 0;
        display: block;
        background-image: url("../images/logo.png");
      }
    }
  }
  .header__bottom {
  }
}

/* main */

/* footer */

/* totop */
