// variables
$light-blue: #74cdff;
$gray: #8b8b8b;
$light-gray: #e3e3e3;
$footer-shop: #f5f5f5;
$border: 1px solid $light-gray;

// mixins
@mixin menu {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  border-top: 1px solid #000;
  position: absolute;
}
/* common */
body {
  font: {
    size: 12px;
    family: "Noto Sans KR", sans-serif !important;
  }
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

button {
  outline: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
legend {
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
}
.campton {
  font-family: "Campton", sans-serif;
}

/* header */
header {
  width: 100%;
  letter-spacing: -0.24px;
  position: relative;

  .header__top {
    padding: 67px 32px 0 32px;
    display: flex;
    justify-content: space-between;
    .header__top__left {
      display: flex;
      .header__logo {
        margin-right: 32px;
        a {
          width: 133px;
          height: 33px;
          font-size: 0;
          display: block;
          background-image: url("../images/logo.png");
        }
      }
      .header__search {
        fieldset {
          position: relative;
          height: 34px;
          input {
            width: 478px;
            height: 100%;
            line-height: 34px;
            border: 0;
            color: #000;
            font: {
              family: "Noto Sans KR", sans-serif;
              size: 14px;
            }

            box-sizing: border-box;
            padding-left: 7px;
            border-bottom: 1px solid #000;
            letter-spacing: -0.24px;

            &::placeholder {
              color: #333;
            }
          }
          button {
            position: absolute;
            display: flex;
            top: 0;
            right: 7px;
            width: 24px;
            height: 34px;
            overflow: hidden;
            background-image: url("../images/btn_search.gif");
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }
    }
    .header__member-menu {
      position: absolute;
      top: 7px;
      right: 31px;
      ul {
        display: flex;
        width: 100%;
        li {
          padding: 0 11px;
          position: relative;
          &::after {
            content: "";
            display: block;
            width: 1px;
            height: 11px;
            background-color: $light-gray;
            position: absolute;
            top: calc((100% - 11px) / 2);
            right: 0;
          }
          &:last-child::after {
            display: none;
          }
          a {
            color: $gray;
            font: {
              size: 12px;
              weight: 500;
            }
            line-height: 20px;
          }
        }
      }
    }

    .header__member-menu-icon {
      ul {
        display: flex;
        li {
          margin: 0 13px;
          &:last-child {
            margin-right: 0;
          }
          a {
            display: block;
            width: 36px;
            height: 29px;
            background-repeat: no-repeat;
            background-position: center;
            span {
              font-size: 0;
              text-indent: -9999px;
            }
          }
        }
      }
      .member-menu-icon__mypage {
        a {
          background-image: url("../images/top_mypage.png");
        }
      }
      .member-menu-icon__basket {
        a {
          background-image: url("../images/top_cart.png");
        }
      }
    }
  }
  .header__bottom {
    margin-top: 30px;

    border: {
      top: $border;
      bottom: $border;
    }
    .header__inner {
      padding: 0 32px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      .header__all-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 48px;
        margin-right: 55.5px;
        border: {
          left: $border;
          right: $border;
          cursor: pointer;
          box-sizing: border-box;
        }
        span {
          display: inline-block;
          position: relative;
          width: 18px;
          height: 1px;
          font-size: 0;
          border-top: 1px solid #000;
          &::before {
            @include menu;
            top: -6px;
          }
          &::after {
            @include menu;
            bottom: -6px;
          }
        }
      }
      .header__gnb-menu {
        .header__menu-list {
          display: flex;
          li {
            a {
              display: block;
              padding: 14px 22.5px;
              color: #000;
              font: {
                size: 15px;
                weight: 500;
              }
              line-height: 20px;
              &:hover {
                font-weight: 700;
                span::after {
                  content: "";
                  display: block;
                  position: absolute;
                  top: -5px;
                  right: -5px;
                  width: 6px;
                  height: 6px;
                  border-radius: 50%;
                  background-color: $light-blue;
                }
              }
              span {
                position: relative;
              }
            }
          }
        }
      }
    }
  }
}

/* main */

/* footer */
footer {
  .footer__inner {
    width: 100%;
    padding: 0 35px 0 32px;
    margin: 0 auto;
  }
  .footer__shop-util {
    background-color: $footer-shop;
    .footer__inner {
      display: flex;
      justify-content: space-between;
      .footer__shop-util-menu {
        display: flex;
        padding: 19px 0;
        li {
          font: {
            size: 16px;
            weight: 300;
          }
          line-height: 20px;
          margin-right: 43px;
        }
      }
    }
  }
  .footer__info {
  }
}

/* totop */
